<!doctype html>
<html lang="en" ng-app="Mappu">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="google-signin-client_id" content="529707350625-ft3cm1c42nvj74s3kt8fgo4n3qoro347.apps.googleusercontent.com">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Mappu</title>

    <meta name="mobile-web-app-capable" content="yes">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.css" />
    <link href="style.css" rel="stylesheet">

    <script type="text/javascript" src="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.js?2"></script>

  </head>
  <body ng-controller="personController as person">
    <div id="container">
      <div id="map"></div>

      <div class="container-fluid fly">
        <div ng-hide="person.signedIn" class="g-signin2" data-onsuccess="onSignIn"></div>
        <button ng-show="person.signedIn" class="btn btn-default btn-sm" ng-click="person.signOut();">Sign Out</button>

        <div ng-show="person.signedIn">
          <p>Hello {{person.username}}</p>
        </div>
      </div>

      <div id="search-box" class="input-group">
        <input type="text" class="form-control" placeholder="What are you looking for?">
      </div>

      <div id="location" data-toggle="tooltip" data-placement="top" title="Tooltip :)">
        <button class="btn btn-default btn-lg text-align" ng-click="person.open()">
          <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
        </button>
      </div>

    </div>

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.13.1.js"></script>
    <script src="//apis.google.com/js/platform.js" async defer></script>
    <script src="./dist/app.js"> </script>

  </body>
</html>
